.tiptap p.is-editor-empty:first-child::before {
  color: theme("colors.muted.foreground");
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.tiptap.ProseMirror {
  outline: none;
}

/* Add to your styles.css */
@media (max-width: 640px) {
  .min-w-20 {
    min-width: 100%; /* Make buttons full width on small screens */
  }
}
